.main {
  padding-top: 18rem;
  color: var(--font-color);
}

.container {
  max-width: 120rem;
  width: 80%;
  min-height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 9.3rem;
  padding-bottom: 8.5rem;
  font-size: 2.4rem;

  > span {
    display: block;
  }
}

.img {
  padding-top: 2rem;
  padding-right: 2rem;
}

.hello {
  text-align: left;
  padding-bottom: 1.6rem;
  animation-name: name;
  animation-duration: 3s;
  backface-visibility: hidden;
}
.wave{
  display: inline-block;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: 5;
  backface-visibility: hidden;
}

.dev {
  text-align: left;
  color: #42CAF5;
}

.desc {
  text-align: left;
  padding-bottom: 4.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}

@keyframes name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); } /* Уменьшаем угол поворота */
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); } /* Уменьшаем угол поворота */
  100% { transform: rotate(0deg); }
}