.header{
  display: flex;
  flex-direction: row;
  gap: 150px;
  padding: 20px 0px;
  background-color: #212229;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  color: #E3DEDE;
}