.skill{
  background-color: var(--bg-card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title{
  font-size: 2rem;
  color:var(--white-color);
  padding-bottom: 3.4rem;
}
.img{
  padding: 3.4rem 7.1rem 4.1rem 7.1rem;
}