.projects {
  padding-top: 8rem;
  padding-bottom: 15.8rem;
}

.container {
  max-width: 120rem;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding-bottom: 5.4rem;
}
.mainFlexWrapper{
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
}
