.experience{

}
.title{

}
.container{
  max-width: 120rem;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.flexWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 90rem;
}
.experienceWrapper{

}
.middleWrapper{

}
.descWrapper{

}