.header {
  padding: 2rem 0rem;
  background-color: #212229;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  color: #E3DEDE;
}

.container {
  max-width: 120rem;
  width: 100%;
  min-height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  border: 1px solid red;
}
.flexWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
