@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
  --bg-card-color:#212229;
  --bg-color: #05050A;
  --blue-color: #42CAF5;
  --font-color:#E3DEDE;
  --diamondColor:#3668A1;
  --white-color:#FFFFFF
}


html,
body {
  font-family: "DM Mono", monospace;
  font-style: normal;
  font-size: 10px;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--font-color);
}


a {
  color: inherit;
  text-decoration: none;
}
h1,h2{
  padding: 0;
  margin: 0;
}